.container{
    padding: 10px 20px; 
    width: 650px;
}

.title{
    font-size: 28px;
        text-align: center;
        font-weight: 500;
    margin: 14px 0; 
}

.wrapper{
display: flex;
align-items: center;
justify-content: space-between;
}

.form{
    margin: 14px 0;
    gap: 14px;
}

.orderDetail{
    width: 500px;
}

.inputCol{
    padding: 4px 0;
}

.input, .inputArea{
    width: 100%;
    padding: 2px 8px;
    font-size: 16px;
    border: 1px solid #d1411e;
    border-radius: 8px;
}

.input{
    height: 40px;
}

.inputArea{
    min-height: 50px;
}

.total, .quantity, .discount, .subTotal{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    width: 300px;
}

.discount{
    padding-bottom: 4px;
}

.subTotal{
    border-top: 1px solid #d1411e;
    padding: 4px 0;
    font-size: 20px;
    font-weight: 500;
    margin-top: 60px;
}

.payment{
    margin: 14px 0;
}

.subTitle{
font-size: 22px;
}

.paymentMode, .paymentOption{
    display: flex;
    gap: 14px;
}

.paymentOption{
    gap: 8px;
}

.inputRadio, .radioLabel{
    font-size: 18px;
}

.button{
    width: 100%;
    height: 60px;
    border-radius: 8px;
    color: #fff;
    background-color: #d1411e;
    font-size: 24px;
}

.error{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    border-radius: 4px;
    background-color: #d1421e6a;
    margin: 10px 0;
}

@media (max-width: 767px) {

    .conatiner {
        width: 400px;
    }

    .subTotal{
        margin-top: 0;
    }

    .wrapper{
        flex-direction: column;
    }
}