.table {
  width: 100%;
  border-collapse: collapse;
}

.table .th,
.table .td {
  padding: 8px;
}

.table .td {
  min-height: 120px;
}

.table .th {
  background-color: #d1411e;
  color: white;
}

.evenRow {
  background-color: #f9f9f9;
}

.button {
  margin-right: 4px;
}

.td:nth-child(1),
.td:nth-child(5),
.td:nth-child(7),
.td:nth-child(4),
.td:nth-child(8) {
  width: 150px;
}

.td:nth-child(2) {
  width: 200px;
}

.td:nth-child(3),
.td:nth-child(10) {
  width: 200px;
  text-align: center; 
}

.td:nth-child(9) {
  width: 80px;
}

.td:nth-child(6) {
  width: 200px;
}

.img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.td:nth-child(4),.td:nth-child(8), .td:nth-child(10) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;;
}

.button {
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 550;
  border-radius: 24px;
  border: none;
  background-color: #d1421e51;
  height: 30px;
  cursor: pointer;
}

.button:hover {
  background-color: #d1411e;
  color: #fff;
}

.badge{
  background-color: #d1421e24;
  padding: 4px 8px;
  border-radius: 24px;
}