.container {
  height: 80px;
  padding: 0px 50px;
  background-color: #d1411e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}

.center,
.texts,
.left,
.cart {
  display: flex;
  align-items: center;
}

.left {
  flex: 3;
}

.right{
  display: flex;
  gap: 30px;
}

.center {
  flex: 1;
  justify-content: flex-start;
}

.callButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
}

.callImg {
  height: 32px;
  width: 32px;
}

.texts {
  margin-left: 10px;
  color: white;
  flex-direction: column;
  gap: 4px;
}

.text:first-child {
  font-size: 16px;
  font-weight: 600;
}

.text:last-child {
  font-size: 20px;
  font-weight: bold;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
}

.listItem {
  margin: 10px;
  font-weight: 600;
  cursor: pointer;
}

.cart {
  position: relative;
}

.counter {
  position: absolute;
  top: -2px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #d1411e;
}

.button {
  min-width: 150px;
  padding: 10px;
  background-color: transparent;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button:hover{
  background-color: #fff;
  color: #d1411e;
}

.menu {
  display: none;
}

.lgtBtn{
  height: 50px;
  width: 50px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.hide{
  display: none;
}

.lgtBtn:hover{
  background-color: #2d2c2bb7;
}

.img{
  width: 200px;
  height: 50px;
}

@media only screen and (max-width: 767px) {

  .list,
  .cart {
    display: none;
  }

  .container {
    padding: 8px;
    justify-content: space-between;
  }

  .left,
  .center {
    flex: 1;
  }

  .center {
    justify-content: center;
  }

  .menu {
    display: block;
  }

  .callImg {
    height: 22px;
    width: 22px;
  }

  .callButton {
    height: 34px;
    width: 34px;
  }

  .img{
    width: 180px;
    height: 45px;
  }
}