.container{
    position: relative;
}

.menu {
    width: 300px;
    height: 100vh;
    background-color: #d1411e;
    position: absolute;
    top: calc(130px - 100vh);
    right: -300px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    flex-direction: column;
  }

.active {
    right: 0;
}

.hide{
    display: none;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 24px;
    font-weight: 300;
    color: white;
    width: 60%;
}

.listItem {
    margin-bottom: 25px;
}

.link_menu {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

.link_menu:hover {
    font-weight: 500;
}

.icons{
    height: 100px;
    margin-top: 50px;

}

.menu_auth {
    font-size: 18px;
    cursor: pointer;
    margin-left: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    width: 5rem;
    padding: 12px;
    font-weight: 500;
}

.menu_auth:hover {
    background-color: white;
    color: black;
}

.button {
    min-width: 150px;
    padding: 10px;
    background-color: transparent;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover{
    background-color: #fff;
    color: #d1411e;
  }